@font-face {
    font-family: "Roboto";
    src: url('../Fonts/Roboto-Bold.ttf');
}

#canvas {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#canvas img,
#canvas > span {
    position: absolute;
}

#round {
    font-size: 20px;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#bestOf {
    font-size: 20px;
    top: 163px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tag {
    color: yellow;
}

#p1name {
    font-size: 40px;
    top: 57px;
    left: 350px;
    transform: translateX(-50%);
    white-space: nowrap;
}

#char1icon {
    width: 50px;
    top: 55px;
    left: 230px;
}

#p1pronouns {
    font-size: 20px;
    top: 115px;
    left: 330px;
}

#p1score {
    font-size: 60px;
    top: 35px;
    left: 783px;
    transform: translateX(-50%);
    white-space: nowrap;
}

#p1wl {
    font-size: 30px;
    top: 140px;
    left: 812px;
}

#p2name {
    font-size: 40px;
    top: 57px;
    left: 1280px;
    transform: translateX(-50%);
    white-space: nowrap;
}

#char2icon {
    width: 50px;
    top: 55px;
    left: 1630px;
}

#p2pronouns {
    font-size: 20px;
    top: 115px;
    left: 1520px;
}

#p2score {
    font-size: 60px;
    top: 35px;
    left: 1135px;
    transform: translateX(-50%);
    white-space: nowrap;
}

#p2wl {
    font-size: 30px;
    top: 140px;
    left: 1083px;
}